version: "3.8"

services:
    # --- Dịch vụ Backend ---
    api:
        build: ./python-server # Đường dẫn tới Dockerfile của API
        container_name: easyphoto_api
        ports:
            - "8000:8000" # Map cổng máy con -> cổng Docker
        volumes:
            - ./api:/app # Đồng bộ code để sửa nóng (Hot reload)
        environment:
            - ALLOW_ORIGINS=* # Cấu hình biến môi trường nếu cần

    # --- Dịch vụ Frontend ---
    web:
        build: ./web
        container_name: easyphoto_web
        ports:
            - "3000:3000"
        volumes:
            - ./web:/app
            - /app/node_modules
        environment:
            # Biến này cho Browser (nếu con dùng trực tiếp, nhưng con đang dùng Proxy nên cái này ít quan trọng hơn)
            - NEXT_PUBLIC_API_URL=http://localhost:8000

            # QUAN TRỌNG: Biến này để Next.js Server tìm thấy Backend trong mạng Docker
            # "api" là tên service con đặt ở bên trên
            - INTERNAL_API_URL=http://192.168.1.98:8000
        depends_on:
            - python-server
